:root {
    --light: #ffffff;
    --dark: #b1396b;
    --darker: #312137;
    --darkest: #000000;
}

body {
    background-color: var(--darkest);
    font-family: 'Lobster', Times, serif;
    color: var(--light);
    margin: 0;
    padding: 0;
    font-size: 4rem;
    display: grid;
    place-items: center;
}

li a:link {
    margin: auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.site-name {
    font-family: "Rubik Glitch", system-ui;
    position: relative;
}

.current a:hover {
    text-decoration: none;
}

.outer-container {
    background-color: var(--darker);
    padding-bottom: 16px;
    padding-top: 16px;
    width: 35%;
    /* max-width: 35%; */
    min-width: fit-content;
    position: absolute;
    left: 50%;
    top: 47%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    overflow: auto;
    white-space: nowrap;
}

/* span {
    margin: auto;
    padding: auto;
} */

.inner-container {
    overflow: hidden;
    position: relative;
}

p {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 24px 8.5% 16px 8.5%;
    /* align-items: center; */
}

a:link {
    text-decoration: none;
    color: var(--light);
}

a:visited {
  color: var(--light);
}

a:hover {
  color: var(--dark);
  background-color: transparent;
  text-decoration: none;
}

.new-text {
    display: none;
}

.top-div {
    display: flex;
    justify-content: center;
}

.top-div:hover > .new-text {
    display: inline;
}

.top-div:hover > .old-text {
    display: none;
}